@import url('../../src/menu/jquery.meanmenu/meanmenu.min.css');

.vc-class-menu1 {
    background: #02923d none repeat scroll 0 0;
    position: relative;
    .main-menu {
        ul {
            padding-left: 0px;
            li {
                list-style-type: none;
                &:hover {
                    background: #00a651 none repeat scroll 0 0;
                    > {
                        .sub-menu {
                            visibility: visible;
                            animation: 0.3s ease 0s normal none 1 running fadeInUp;
                            -moz-animation: 0.3s ease 0s normal none 1 running fadeInUp;
                            -webkit-animation: 0.3s ease 0s normal none 1 running fadeInUp;
                            -o-animation: 0.3s ease 0s normal none 1 running fadeInUp;
                            -ms-animation: 0.3s ease 0s normal none 1 running fadeInUp;
                        }
                        a::after {
                            max-width: 100%;
                        }
                    }
                }
                a {
                    color: #ffffff;
                    display: block;
                    padding: 16px 10px;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 14px;
                    &::after {
                        background: #ffffff none repeat scroll 0 0;
                        bottom: 0;
                        content: "";
                        height: 2px;
                        left: 0;
                        max-width: 0;
                        position: absolute;
                        width: 100%;
                        transition: max-width 0.5s ease 0s;
                        -moz-transition: max-width 0.5s ease 0s;
                        -webkit-transition: max-width 0.5s ease 0s;
                        -o-transition: max-width 0.5s ease 0s;
                        -ms-transition: max-width 0.5s ease 0s;
                    }
                }
            }
            ul li a {
                padding: 10px 8px;
            }
            .current-menu-item > a {
                background: #00a651 none repeat scroll 0 0;
                position: relative;
                &::before {
                    background: #ffffff none repeat scroll 0 0;
                    bottom: 0;
                    content: "";
                    height: 2px;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    z-index: 999999;
                }
            }
        }
        > ul {
            display: -webkit-flex;
            justify-content: space-between;
            -moz-justify-content: space-between;
            -webkit-justify-content: space-between;
            -o-justify-content: space-between;
            -ms-justify-content: space-between;
            > li {
                float: left;
                text-align: center;
                white-space: nowrap;
                width: 100%;
                .sub-menu {
                    background: #02923d none repeat scroll 0 0;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    z-index: 2222;
                    min-height: 200px;
                    visibility: hidden;
                    .sub-menu {
                        left: 100%;
                        top: 0;
                    }
                    li .sub-menu {
                        background: #00a651 none repeat scroll 0 0;
                        left: 100%;
                        top: 0;
                        width: 525%;
                        left: 17%;
                        width: 83%;
                        li {
                            float: left;
                            width: 33.33%;
                            overflow: hidden;
                            white-space: normal;
                            &:nth-child(3n+1) {
                                clear: left;
                            }
                            &:hover {
                                background: #02923d none repeat scroll 0 0;
                            }
                        }
                    }
                }
                > .sub-menu > li {
                    text-align: left;
                    width: 17%;
                }
            }
        }
    }
    .mean-container {
        .mean-bar {
            background: none;
            left: 0;
            position: absolute;
            top: 3px;
            z-index: 99;
            max-width: 480px;
            .meanmenu-reveal {
                left: 0 !important;
                top: 0;
            }
            .mean-nav {
                background: #02923d none repeat scroll 0 0 !important;
                margin-top: 45px;
            }
        }
        .mean-nav ul li {
            .mean-expand {
                height: 14px;
                line-height: 14px;
                width: 20px;
                &:hover {
                    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
                }
            }
            a {
                padding: 10px 5%;
                font-size: 13px;
            }
            li {
                a {
                    padding: 10px 10%;
                }
                li a {
                    width: 80%;
                }
            }
        }
    }
}


/*mobile*/


/*RESPONSIVE*/

@media screen and (max-width: 1199px) {
    .vc-class-menu1 .main-menu ul {
        li a {
            font-size: 12px;
        }
        ul li a {
            padding: 10px 8px;
        }
    }
}

@media screen and (max-width: 992px) {
    .vc-class-menu1 {
        height: 52px;
    }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 480px) {
    .vc-class-menu1 .mean-container .mean-bar {
        max-width: 100%;
    }
}
